.ex-price {
    @apply relative inline-flex ml-2 pl-5 xs:pl-7 pr-2 xs:font-medium text-xs xs:text-sm text-gray-500 dark:text-gray-300 overflow-hidden
}

.ex-price::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 2px;
    margin: auto;
    width: 100%;
    height: 2px;
    background-color: rgb(107 114 128 / 0.3);
    @apply left-4 xs:left-[26px] dark:bg-gray-300/30
}

/* ////////////////////// large product box */
.product-box__lg {
    @apply w-[150px] xs:w-44 sm:w-48 custom-sc:w-[17.5rem] h-64 custom-sc:h-80 px-2 py-3 bg-white dark:bg-zinc-600 shadow-lg rounded-lg cursor-pointer
}

.product-box__lg #product-box__img {
    @apply relative w-32 custom-sc:w-48 h-32 mx-auto mb-2 custom-sc:mb-8 custom-sc:h-[180px]
}
/* ////////////////////// small product box */
.product-box__sm {
    @apply w-[150px] xs:w-44 md:w-56 h-64 xs:h-72 px-2 py-3 bg-white dark:bg-zinc-600 shadow-lg rounded-lg cursor-pointer
}

.product-box__sm #product-box__img {
    @apply relative w-40 h-32 mx-auto mb-2 custom-sc:mb-5 xs:h-[150px]
}
