.ex-price{
    @apply relative inline-flex ml-2 pl-5 xs:pl-7 pr-2 xs:font-medium text-xs xs:text-sm text-gray-500 dark:text-gray-300 overflow-hidden
}

.ex-price::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 2px;
    margin: auto;
    width: 100%;
    height: 2px;
    background-color:  rgb(107 114 128 / 0.3);
    @apply left-4 xs:left-[26px] dark:bg-gray-300/30
}

.product-box{
    @apply w-[150px] xs:w-44 md:w-56 h-64 xs:h-72 px-2 py-3 bg-white dark:bg-zinc-600 shadow-lg rounded-lg cursor-pointer
}