.sidebar {
    height: calc(100vh - 50px);
    @apply sticky top-12 w-full mt-3 py-5 px-1 text-white
}

.sidebarMenu {
    @apply mb-1.5 lg:mb-4
}

.sidebarTitle {
    @apply text-sm text-gray-400
}

.sidebarList {
@apply py-3 px-1.5
}

.sidebarListItem {
    @apply flex items-center gap-3 py-2 px-1 text-sm lg:text-base cursor-pointer rounded-md
}

.sidebarListItem.active,
.sidebarListItem:hover {
   @apply bg-custom-navy/90 text-purple-400
}

.sidebarIcon {
    @apply w-3 lg:w-5 h-3 lg:h-5
}

.custom-scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, Edge */
  }
  
  .custom-scroll {
    -ms-overflow-style: none;  /* Internet Explorer and old Edge */
    scrollbar-width: none;     /* Firefox */
  }