.box-title {
    @apply mb-5 font-MorabbaBold text-lg
}

th {
    padding: 5px 0;
}

td {
    padding-top: 1rem;
    text-align: center;
}

.status-positive {
    @apply bg-green-500 px-2.5 py-0.5 text-sm rounded-md
}

.status-negative {
    @apply bg-red-500/80 px-2 py-0.5 text-sm rounded-md
}