.navbar-menu {
    @apply inline-flex flex-col absolute opacity-0 invisible top-full right-0 group-hover:opacity-100 group-hover:visible w-[576px] md:w-[820px] h-72 px-6 py-8 space-y-6 border-t-[3px] shadow-custom
     border-t-purple-custom bg-gray-100 dark:bg-zinc-600 text-sm md:text-base tracking-tight text-zinc-700 dark:text-white rounded-2xl transition-all delay-75 z-30 child:inline-flex
      child-hover:text-purple-400 dark:child-hover:text-purple-300 child:transition-colors
}

.navbar-submenu{
   @apply  flex flex-col absolute opacity-0 invisible top-0 right-48 h-full p-6 space-y-6 bg-white dark:bg-zinc-700
   text-xs md:text-sm tracking-tight text-zinc-500 dark:text-white rounded-l-2xl transition-all delay-75 child:transition-colors
}


.submenu-category-all-btn{
    display: inline-flex;
    align-items: center;
    color: #008eb2;
    letter-spacing: -0.025em;
    @apply text-xs md:text-sm hover:text-purple-400 dark:hover:text-purple-300
}