.footer{
@apply mt-32 dark:text-white bg-gradient-to-b from-gray-500/5 to-gray-600 dark:to-gray-400
}

.footer-col{
@apply flex items-start justify-center flex-col
}

.footer-title{
    @apply pb-1.5 md:pb-4 font-DanaMedium md:font-DanaDemiBold text-sm md:text-base text-zinc-800 dark:text-white
}

.footer-col__list{
    @apply flex items-start justify-center flex-col gap-y-2 md:gap-y-2.5 text-xs md:text-sm tracking-tight transition-all
}

.footer-col__list a:hover{
    @apply text-fuchsia-300 transition-all
}

  /* Social Media Links */
.social-button {
    @apply inline-block relative w-8 md:w-10 h-8 md:h-10 p-0 text-center text-white cursor-pointer rounded-full transition-all duration-500
  }
  
.social-button:hover, .social-button:focus {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .social-button__icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    @apply absolute w-4 md:w-6 h-4 md:h-4
  }
  /* ///////////////////////////////////////// */