@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Dana";
        /* 400 */
        src: local("Dana"), url("/public/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Dana Medium";
        /* 500 */
        src: local("Dana Medium"), url("/public/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Dana DemiBold";
        /* 600 */
        src: local("Dana DemiBold"), url("/public/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Light";
        src: local("Morabba"), url("/public/fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Medium";
        src: local("Morabba Medium"), url("/public/fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Bold";
        src: local("Morabba Bold"), url("/public/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
        font-display: swap;
    }

    html {
        @apply text-zinc-700 font-Dana
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

@layer components {
    .overlay {
        @apply invisible opacity-0 fixed inset-0 bg-black/40 w-full h-full z-10 transition-all
    }

    .overlay--visible {
        @apply visible opacity-100
    }

    .visible--elem {
        @apply visible opacity-100
    }

    .pagination--item {
        @apply w-8 h-8 pt-0.5 bg-white text-center text-lg leading-8 rounded-md shadow-sm cursor-pointer
    }

    .p-admin__title {
        @apply mb-6 font-MorabbaBold text-xl text-zinc-800 tracking-wide
    
    }
    .p-admin__box {
        @apply px-8 py-4 sm:p-4 xl:p-5 bg-white rounded-md shadow-xl
    }
    .p-admin__box-title {
        @apply mb-2 xl:mb-5 font-DanaMedium text-base xl:text-2xl text-zinc-800
    }

}

@layer utilities {

    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ltr-dir {
        direction: ltr;
        text-align: left;
    }
}